<div class="jumbotron text-center">
  <img src="./assets/img/gcu_logo_main.png" width="335">
  <div class="mt-5">
    <a class="btn btn-primary btn-lg" [routerLink]="['/login']">Logga in</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Bli samarbetspartner</h3>
    <p>Denna webplats är till för våra sammarbetspartners. Om du har funderingar kring sammarbete så är ni hemskt välkomna att kontakta oss via mail på <a href="mailto:info@gotlandscykeluthyrning.com">info@gotlandscykeluthyrning.com</a>.</p>
  </div>
  <div class="col-md-4">
    <h3>Våra cyklar</h3>
    <p>Våra cyklar håller väldigt hög kvalitet och vi hyr endast ut cyklar från Crescent och Monark med erkänd svensk kvalitet samt Bianchi.</p>
  </div>
  <div class="col-md-4">
    <h3>Hyr cykel</h3>
    <p>Besök vår officella webplats där du kan boka cyklar och läsa mer om vår verksamhet: <a href="http://www.gotlandscykeluthyrning.com/">www.gotlandscykeluthyrning.com</a>.</p>
  </div>
</div>
